@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Resume Portal</h1>
    <p class="lead">Resume Portal is a way for students to reach out to employers for job applications.</p>
</div>